.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F7F7F7;
  }
  
  .page-card {
    min-width: 300px;
    padding: 24px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .logo-image {
    max-width: 120%;
    object-fit: contain;
  }
  
  .card-actions {
    display: flex;
    justify-content: center;
  }

  .action-buttons {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}